@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Cambiar el color de la tab activa   */  
tab{
	font-size: 12px !important;
	font-family: Verdana !important;
}
tab[selected="true"] {
   opacity: 1;  
}

  /* Cambiar el color de la tab normal */  
 tab:not([selected="true"]) {
   opacity: 0.4;
}

/* Iconos de extensiones y herramientas */
.toolbarbutton-icon {
	opacity: 0.2;
}
#downloads-button{
	opacity: 0.2;
}

/* Transparencia del navegador general */
#personal-bookmarks{
	 background-color: transparent !important;
}
tabs.tabbrowser-tabs#tabbrowser#tabs{
	background-color: transparent !important;
}

.tabbrowser-tab[selected="true"]{
	background: transparent !important;
	/*color: #ffffff !important;*/
    /*text-shadow: #000000 0px 0px 2px !important;*/
	font-weight: bold;
}
#TabsToolbar, #browser-bottombox, #status-bar, #status-bar > *, #nav-bar, #PersonalToolbar, #addon-bar {
	background: transparent !important;
	/*color: #ffffff !important;
	-moz-appearance: none !important;
	border: #000000 !important;*/
}
.chromeclass-directories *, #bookmarksPanel * {
    /*color: #ffffff !important;*/
    font-family: Verdana !important;
    /*text-shadow: #81F0F6 0px 0px 1px !important;    */
}
#main-window[inFullscreen="true"]{
	-moz-appearance: -moz-win-borderless-glass !important;
	background: none !important;
}
#main-window[stylish-url="about:blank"]:not([onclose^="PrintUtils"]):not([title^="View Source Chart"]) #content browser:not([src]){ 
	opacity: 0 !important;
}
#appcontent,#content > tabbox > tabpanels {
  background-color: transparent !important;
}

#PersonalToolbar {
	background: transparent !important; 
	opacity: 0.5;
}

/* Remove Edit menu (if you already use all the keyboard shortcuts) */
#edit-menu { display: none !important; }

/* Remove Back button when there’s nothing to go Back to */
#back-button[disabled="true"] { display: none; }

/* Cambia la opacidad de la barra URL principal (awesome bar) */
#urlbar {
	opacity: 0.5; 
	background: rgba(0, 0, 0, 0); 
	max-width: 650px !important; /*1024*/
}

/* El contenedor de la barra URL, contiene ésta última más los iconos de complementos */
#urlbar-container {max-width: 650px !important;}

/*#urlbar:hover {opacity: 0.5;}*/
#urlbar[focused="true"] {opacity: 0.7;}

/* Cambia la opacidad de la barra de búsqueda que está junto a la barra URL */
#searchbar .searchbar-textbox {opacity: 0.2; background-color: transparent;}
#searchbar .searchbar-textbox:hover {opacity: 0.4;}
#searchbar .searchbar-textbox[focused="true"] {opacity: 0.6;}

/* Cambia la opacidad de los favicons */
.tab-icon-image  {opacity: 0.6 !important; }
.tab-icon-image[selected="true"]  {opacity: 1 !important; }

/* Permite ver todo el skin de tema */
/*#navigator-toolbox { min-height: 190px !important; }*/

/*menubar, toolbox, toolbar, .tabbrowser-tabs {
opacity: 0.2; }*/

#main-window[windowtype="navigator:browser"] {
	background-color: transparent !important;
}
.titlebar-button {
	/*background-color: transparent !important;*/
	opacity: 0 !important;
	transition: background-color 0.2s ease;
}
.titlebar-button > .toolbarbutton-icon {
	/*list-style-image: none;*/
}
.titlebar-button:hover {
	opacity: 1 !important;
	/*background-color: rgba(0, 0, 0, 0.15) !important;
	color: white;*/
}
#titlebar-close:hover {
	opacity: 1 !important;
	background-color: rgba(232, 17, 35, 0.3) !important; /*#E81123*/
}
#titlebar-close:hover > .toolbarbutton-icon {
	/*list-style-image: url("chrome://browser/skin/caption-buttons.svg#close-white") !important;
	color: white;*/
}

/* Remove the Hamburger Button */
#PanelUI-menu-button {
	opacity: 0 !important;
	/*display: none;*/
}
#PanelUI-menu-button:hover {
	opacity: 0.5 !important;
}

/* Remove the Hamburger Button Border */
@-moz-document url("chrome://browser/content/browser.xul") {
	#PanelUI-button {
		/*background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;*/
		border: none !important;
		transition: background-color 0.2s ease;
	}
	#PanelUI-button:hover {
		background-color: rgba(0, 0, 0, 0.15) !important;
	}
	
}

/* Make Link Box Transparent */
.statuspanel-label[value=""] {display: none !important;}
.statuspanel-label:not([value=""]){opacity: 1 !important;
-moz-transition-property: opacity: 0 !important;
-moz-transition-delay: 2000ms !important;}
#main-window[sizemode="normal"]:not([inFullscreen])
.statuspanel-inner{margin: 0 1px !important;}
.statuspanel-label {color: Windows Text !important;
border-color: Transparent !important;
background: rgba(255,255,255,0.5) !important; /*Transparent !important;*/
}

#nav-bar {
   background-color:transparent !important;
   background-image:none !important;
   border-color:transparent !important;
   box-shadow:none !important;
} 
/*.tabbrowser-tab:not([pinned]):hover
.tab-icon-image,
.tabbrowser-tab:not([pinned]):hover
.tab-throbber
{
  display: none !important;
}
#urlbar
{
  border-style: none !important;
}
#star-button
{
  display: none !important;
}
#identity-box
{
  display: none;
}
#navigator-toolbox::after
{
  height: 0px !important;
}*/